<% include partials/header %>
<h1>You fell in love with: <%= thingVar %></h1>
<% if(thingVar.toLowerCase() === "rusty"){ %>
        <p>Nice!</p>
<%    } else {   %>
        <p>Bad Choice</p>
<%      }   %>

<% include partials/footer %>
